.bulletin-board {
    background-color: #909090;
}

.input-fields {
    max-width: 600px;
    margin: 0 auto;
    padding: 100px 50px;
}
.add-label {
    font-size: 2rem;
    color: #ffffff;
}
.label {
    color: #ffffff;
    font-size: 1.3rem;
}
.button{
 margin-top: 1rem;
}