* {
    background-color: #909090;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.input-board {
    background-color: #909090;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem 1rem;
}
.add-label {
    font-size: 2rem;
    color: #101010;
}
.group {
    margin-bottom: 0.5rem;
    color: #101010;
    font-size: 1.3rem;
}
.button{
 margin-top: 1rem;
}
.bulletin-board {
    padding-top: 3rem;
}
.posts{
    overflow: hidden;
    margin: 0.5rem 0 ;
    border: 0.1rem solid #101010;
    border-radius: 1rem;
}
.post-data {
    padding: 1.5rem;
}
.reactionButton {
  border: none;
  font-weight: 500;
}
.reaction-div {
    display: flex;
}
.count {
    padding-left: 0.2rem;
}
.emojis  {
    display: flex;
    padding-left: 0.4rem;
}